[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kro.inv.test"]
	path = kro.inv.test
	url = https://github.com/seungbongjung/kro.inv.test
